.section-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-top: 20px;
}

.section-button {
    display: flex; /* Ensure the button uses flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    width: 90%;
    background-color: #ffffff;
    border-width: 1px;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
}

.section-button.toggled {
    width: 80%;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.icon {
    display: flex; /* Ensure the icon uses flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}