:root {
    --primary-color: #172B36;
    --secondary-color: #114C5A;
    --accent-color1: #FF9932;
    --accent-color2: #FFC801;
    --background-color-1: #D9E8E3;
    --background-color-2: #F1F6F4;
}